.tabsContainer {
  display: flex;  
  
  background-color: #181818; 
  box-shadow: inset 0 -1px 0 0 #2b2b2b; 
  position: relative;
  height: 33px;
}

.tabs {
  display: flex;      
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #1f1f1f;
}

::-webkit-scrollbar-thumb {
  background: #424242;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
