.row {  
  display: flex;   
  border-bottom: 1px solid #2b2b2b;
  padding: 3px 5px 3px 10px;
  cursor: pointer;
  column-gap: 15px;
}

.row:nth-child(odd) {
  background-color: #1f1f1f;
}

.row:nth-child(even) {
  background-color: #252525;
}

.row:last-child {    
  border-bottom: 0;
}

.row:hover {  
  background-color: #2b2b2b;
}