.view {  
  display: flex; 
  position: absolute;
  top: 200px;
  left: 200px;
  bottom: 200px;
  right: 200px;  
  padding: 15px 20px;
  background-color: #181818;
  border: 1px solid #2b2b2b;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
 
}