.infos {
  display: flex;   
  flex-direction: column;
  row-gap: 10px;    
}

.infosItem {
  display: flex;     
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 3px;  
  align-items: center;
}

.infosItemLabel {
  display: flex; 
  color: #838585;
  font-size: 12px;
  line-height: 14px;

}

.infosItemLabel::after {
  content: ":";
  padding-left: 3px;
}

.infosItemValue {
  display: flex; 
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
}

.flexColumn {
  display: flex; 
  flex-direction: column;
  align-items: start;
}