.infos {
  display: flex;   
  flex-direction: column;
  row-gap: 10px;  
  min-width: 180px  
}

.infosItem {
  display: flex;     
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 3px;  
  align-items: center;
}

.infosItemLabel {
  display: flex; 
  color: #838585;
  font-size: 12px;
  line-height: 14px;

}

.infosItemLabel::after {
  content: ":";
  padding-left: 3px;
}

.infosItemValue {
  display: flex; 
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
}

.flexColumn {
  display: flex; 
  flex-direction: column;
  align-items: start;
}

.client,
.summary  {
  display: flex;
  flex-direction: column;
  row-gap: 10px;  
  border-bottom: 1px solid #3a3a3a;
  padding: 0px 0px 10px 0px;
}

.rightValue {
  flex-grow: 1;
  display: flex; 
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  justify-content: end;
}