.order {
  display: flex;  
  flex-grow: 1;
  flex-direction: column;
}

.loading {
  display: flex; 
  flex-direction: column;
  row-gap: 100px;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.error {
  display: flex; 
  flex-direction: column;
  row-gap: 50px;
  flex-grow: 1;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  justify-content: center;
}

.errorIcon {
  display: flex;   
  width: 150px;
  height: 150px;
  path {
    fill: #181818;
  }
}

.errorText {
  display: flex;   
}

.body {
  display: flex; 
  flex-grow: 1; 
  padding: 15px 15px;  
  column-gap: 15px; 
}

.center {
  display: flex; 
  flex-grow: 1;
  flex-direction: column;
  row-gap: 15px;
}

.form {
  display: flex;   
  flex-direction: column;
  row-gap: 15px; 
  overflow: auto;
}

.form > *:last-child {
  flex-grow: 1;
}

.orderItems {
  display: flex;  
  flex-direction: column;
  row-gap: 15px; 
}

.orderItemsSummary {
  display: flex; 
  flex-direction: column;
  row-gap: 15px; 
}
