.modal {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  border: 2px solid #0078d4;
  box-shadow: 0px 0px 30px #0078d433;
}

.top {
  display: flex;
  align-items: center;
  column-gap: 20px;  
  font-size: 18px;
}

.icon {
  width: 70px;
  height: 70px;
  path {
    fill: #0078d4;
  }
}

.bottom {
  display: flex;
  column-gap: 5px;
  justify-content: flex-end;
}