.modal {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  border: 2px solid red;
  box-shadow: 0px 0px 30px rgba(255,0,0,0.4);
}

.top {
  display: flex;
  align-items: center;
  column-gap: 20px;  
  font-size: 18px;
}

.icon {
  width: 70px;
  height: 70px;
  path {
    fill: red;
  }
}

.bottom {
  display: flex;
  justify-content: flex-end;
}