.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.modal {
  display: flex;
  background: #1f1f1f;
  border: 2px solid #2b2b2b;
  padding: 15px;
  border-radius: 5px;
  min-width: 300px;
  box-shadow: 0px 0px 30px rgba(255,255,255,0.1);
}