.container {     
  position: relative;
  height: 100%;
}

.body {  
  display: flex;    
  flex-grow: 1;    
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.loading {
  display: flex; 
  flex-direction: column;
  row-gap: 100px;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.error {
  display: flex; 
  flex-direction: column;
  row-gap: 50px;
  flex-grow: 1;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.errorIcon {
  display: flex;   
  width: 150px;
  height: 150px;
  path {
    fill: #181818;
  }
}

.errorText {
  display: flex;   
  text-align: center;
}