.product {
  display: flex;  
  flex-grow: 1;
  flex-direction: column;
}

.loading {
  display: flex; 
  flex-direction: column;
  row-gap: 100px;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.error {
  display: flex; 
  flex-direction: column;
  row-gap: 50px;
  flex-grow: 1;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  justify-content: center;
}

.errorIcon {
  display: flex;   
  width: 150px;
  height: 150px;
  path {
    fill: #181818;
  }
}

.errorText {
  display: flex;   
}

.body {
  display: flex; 
  flex-grow: 1; 
  padding: 15px 15px;  
  column-gap: 15px;  
  overflow: auto;
}

.infos {
  display: flex;  
  background-color: #252728;
  flex-direction: column;
  row-gap: 10px;   
  padding: 15px 30px 15px 15px;
  overflow: auto;
}

.infosItem {
  display: flex;     
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 3px;  
  align-items: center;
}

.infosItemLabel {
  display: flex; 
  color: #838585;
  font-size: 12px;
  line-height: 14px;
}

.infosItemLabel::after {
  content: ":";
  padding-left: 3px;
}

.infosItemValue {
  display: flex; 
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
}

.form {
  display: flex; 
  flex-grow: 1;
  flex-direction: column;
  row-gap: 15px; 
  overflow: auto;
}


.form > *:last-child {
  flex-grow: 1;
}

.flexColumn {
  display: flex; 
  flex-direction: column;
  align-items: start;
}