.text {
  background-color: #313131;  
  border: 1px solid #3a3a3a;
  font-size: 14px;
  line-height: 14px;
  padding: 5px;
  color: #c3cacc;
}

.text::placeholder {
  color: #838585;
}

.icon {
  width: 30px;
  height: 30px;
  path {
    fill: red;
  }
}