.button {
  display: flex;  
  align-items: center;
  cursor: pointer;
  padding: 2px 6px;
}

.button:focus {  
  outline-offset: 2px;
}

.button.disabled:focus {
  outline: 0;
}

.button.disabled {
  background-color: transparent;
  border: 1px solid #2b2b2b;
  cursor: not-allowed;  
  pointer-events: none; 
}

.primary {
  background-color: #0078d4;
  border: 1px solid #0078d4;
  color: white;
}

.button.primary:hover {
  background-color: #026ec1;
  border-color: #026ec1;
}

.secondary {
  background-color: #e2e8f0;
  border: 1px solid #cbd5e0;
  color: #1a202c;
}

.button.secondary:hover {
  background-color: #cbd5e0;
  border-color: #a0aec0;
}

.danger {
  background-color: #e53e3e;
  border: 1px solid #e53e3e;
  color: white;
}

.button.danger:hover {
  background-color: #c53030;
  border-color: #c53030;
}

.button > .text {
  display: flex;
  flex-grow: 1;
  font-size: 14px;
  line-height: 14px;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}

.button.disabled > .text {
  color: #838585;
}

.button > .icon {  
  width: 20px;
  height: 20px;
  path {
    fill: white;
  }
}

.button.disabled > .icon {
  path {
    fill: #838585;
  }
}