.checkbox {  
  display: flex;
  column-gap: 15px;
  font-size: 14px;
  line-height: 14px;
  color: #c3cacc;
  align-items: center;
  cursor: pointer;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #313131;  
  border: 1px solid #3a3a3a;
  border-radius: 3px;
  width: 18px;
  height: 18px;
  padding: 0px;

  path {
    fill: #c3cacc;
  }
}

.checkbox:focus {
  outline: 0;
}

.checkbox:focus .icon {
  border: 1px solid #0070f3;
}

.disabled:focus .icon {
  border: 1px solid #3a3a3a;
}

.label {  
  display: flex;
  align-items: center;
  font-size: 12px; 
  line-height: 12px;
  color: #c3cacc;
}

.checkbox:hover .label {  
  text-decoration: underline;
}

.checkbox:focus .label {  
  text-decoration: underline;
}

.disabled:focus .label {
  text-decoration: none;
}