.linkButton {
  display: flex;  
  align-items: center;
  cursor: pointer;
  color: #489ae2;
}

.linkButton:hover {
  text-decoration: underline;
}

.linkButton:focus {  
  outline-offset: 2px;
}

.linkButton.disabled:focus {
  outline: 0;
}

.linkButton.disabled {
  background-color: grey; 
  cursor: not-allowed;  
  pointer-events: none; 
}