.item {
  display: flex;     
  border-bottom: 1px solid #2b2b2b;
  padding: 10px 30px;    
  cursor: pointer;
  align-items: center;
  font-size: 14px;
  color: #838585;
}

.item:hover,
.item.selected {
   color: #c3cacc;
   box-shadow: inset 0 -1px 0 0 #c3cacc;
}

.item.selected {  
  box-shadow: inset 0 -1px 0 0 #c3cacc;
}