.item {
  display: flex;   
  background-color: #181818; 
  border-right: 1px solid #2b2b2b;
  border-bottom: 1px solid #2b2b2b;
  padding: 7px 7px 7px 15px;    
  cursor: pointer;
  column-gap: 10px;
  align-items: center;
}

.item:hover,
.item.selected {
  background-color: #1f1f1f;  
}

.item.selected {
  background-color: #1f1f1f;
  border-bottom: 1px solid #1f1f1f;
  box-shadow: inset 0 1px 0 0 #0078d4;
  border-bottom: 1px solid #1f1f1f;
}

.item > .itemIcon {
  width: 18px;
  height: 18px;
  path {
    fill: #838585;
  };
}

.item:focus{
  outline: 1px solid #0078d4;
  outline-offset: -1px;
}

.item:hover,
.item.selected {
  outline: 0;
}


.item:hover > .itemIcon,
.item.selected > .itemIcon {
  path {
    fill: #c3cacc;
  };
}

.item > .itemLabel {  
  color: #56ae7f;
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;  
  white-space: nowrap;
  overflow: hidden;          /* Cache le texte qui dépasse */
  text-overflow: ellipsis;   /* Affiche "…" si le texte est trop long */
  max-width: 200px;    
}

/*.item:hover > .itemLabel,
.item.selected > .itemLabel {
  color: #c3cacc;
}*/

.item > .itemClose {
  display: flex;
  padding: 2px;
  border: 0px;
  border-radius: 2px;
}    

.item > .itemClose:hover { 
  background-color: #303131;
}   

.item > .itemClose > .itemCloseIcon {
  width: 16px;
  height: 16px;
  path {
    fill: transparent;
  };
}

.item:hover > .itemClose > .itemCloseIcon,
.item.selected > .itemClose > .itemCloseIcon {
  width: 16px;
  height: 16px;
  path {
    fill: #c3cacc;
  };
}
/*
.item > .itemClose:hover > .itemCloseIcon {
  path {
    fill: #c3cacc;
  };
}*/